.NavbarItems{
    background-color: #324399;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    z-index: 9999;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
} 


.magic-pic {
    width: 35px;
}


.but-left {
    display: flex;
    
}


button{
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 12rem;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out ;
    margin-right: 5px;
    color: #fff;
    background-color: #1d1d6f;
}

button:hover{
    background-color: #1579d0;
    color: #fff;

}

.but-nav-left {
    justify-content: space-between;
}

