.Navbar-left {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: grid;
    background-color: rgb(35, 102, 196);
    width: 200px;
    height: 100%;
    padding-top: 125px;
    justify-content: center;
}

.false {
    background-color: #324399;
    color: beige;
    font-size: 25px;
    width: 180px;
    margin-bottom: 15px;
    margin-left: 10px;

}

.but-left {
    justify-content: center;
}
