@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    

}

.button{
    white-space: nowrap;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out ;
    padding: 0.5rem 1rem;
    border-radius: 12rem;
    cursor: pointer;
    color: #fff;
    background-color: #1d1d6f;
}

.button:hover{
    background-color: #3810bb;
    color: #fff;

}

.wallet-adapter-button-trigger {
    background-color: #1d1d6f;
}